<div class="container-fluid">

  <div class="card-header flex-wrap border-0 pt-6 pb-0"><!--Begin::Row-->
    <div class="card-title">
      <h3 class="card-label">Product forecasting
        <span class="d-block text-muted pt-2 font-size-sm">Product management made easy</span></h3>
    </div>
    <div class="container-fluid">
      <div class="card card-custom">
        <div class="card-body p-0">
          <!--begin: Wizard-->
          <div class="wizard wizard-2" id="kt_wizard_v2" data-wizard-state="step-first" data-wizard-clickable="false">
            <!--begin: Wizard Body-->
            <div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
              <!--begin: Wizard Form-->
              <div class="row">
                <div class="offset-xxl-2 col-xxl-8">
                  <form class="form" id="kt_form" (ngSubmit)="onSubmit()" [formGroup]="productForm">
                    <!--begin: Wizard Step 1-->
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                      <!--begin::Input-->
                      <div class="row">
                      <div class="form-group col-lg-6">
                        <label>Store</label>
                        <select name="pets" id="pet-select" class="form-control form-control-solid form-control-lg" formControlName="store">
                          <option value="">--Please choose the store name--</option>
                          <option *ngFor="let store of stores" [value]="store">{{store}}</option>

                        </select>

                      </div>
                      <!--end::Input-->


                      <!--begin::Input-->
                      <div class="form-group col-lg-6">
                        <label>Product Id</label>
                        <input type="text" class="form-control form-control-solid form-control-lg" formControlName="productid"
                               placeholder="Product id"/>
                        <span class="form-text text-muted">Please enter your product id.</span>
                      </div>
                      <!--end::Input-->
                      </div>
                      <button type="submit" class="btn btn-light-primary font-weight-bold btn-sm px-5 font-size-base ml-2">Sales Forecasting</button>
                      <!--end::Input-->
                    </div>


                    <!--end: Wizard Step 1-->

                  </form>
                </div>
              </div>
              <div class="chart-wrapper" [hidden]="hidden">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                >
                </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>



    </div>
  </div>
</div>


