<div id="kt_header" class="header header-fixed">
  <!--begin::Header Wrapper-->
  <div class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap">
      <!--begin::Menu Wrapper-->

      <!--begin::Wrapper-->
      <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
          <!--begin::Nav-->
          <ul class="menu-nav">

            <li
              class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
              data-menu-toggle="click" aria-haspopup="true">
              <a  class="menu-link menu-toggle" routerLink="/dashboard">
                <span class="menu-text">Dashboard</span>
                <span class="menu-desc"></span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
              <a  class="menu-link menu-toggle">
                <span class="menu-text">Logout</span>
                <i class="menu-arrow"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


